<!-- views/contact.ejs -->
<center>
  <h1>Ecto 411 Alert System</h1>
  <img width="200px"
    src="https://i5.walmartimages.com/asr/7af38b61-6453-4ab3-88b8-2ca4568b9d77.623c1f8ed6e4bdc3799ac3c2c0cedea2.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" />

  <p>
    <a href="http://ecto411.codergames.dev/signup>">Community Alerts Sign Up</a>
    |
    <a href="http://ecto411.codergames.dev/signup>">Report Paranormal Activity</a>
  </p>

  <div class="form-header">
    <h3>Signup - Ghostbuster's Community Alerts - Ecto 411</h3>
  </div>
  <form method="post" action="/contact" novalidate>
    <div class="form-field">
      <label for="message">Message</label>
      <textarea class="input" id="message" name="message" rows="4" autofocus></textarea>
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input class="input" id="email" name="email" type="email" value="" />
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Send</button>
    </div>
  </form>
  <p><strong>PowereD by SignalwirE</strong></p>
</center>